{% load bootstrap3 %}
<!--{% bootstrap_messages %}-->
{%load staticfiles%}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Fastfood Restourent Jodhpur</title>
        <!--<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.multiscroll.css'%}" />-->
        <link href="{%static 'css/fm.scrollator.jquery.css'%}" rel="stylesheet"/>
        <link href="{%static 'css/iao-alert.css'%}" rel="stylesheet"/>
        <script src="{%static 'js/jquery.min.js'%}"></script>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <!--<script src="{%static 'js/jquery.easings.min.js'%}"></script>-->
        <!--<script type="text/javascript" src="{% static 'js/jquery.multiscroll.js' %}"></script>-->

        <!--<script src="{%static 'js/jquery.event.move.js'%}"></script>-->
        <!--<script src="{%static 'js/jquery.twentytwenty.js'%}"></script>-->
        <!--<link href="{%static 'css/twentytwenty.css'%}" rel="stylesheet"/>-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="{%static 'css/styles.css'%}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <script src="{%static 'js/javas.js'%}"></script>
        <script src="{%static 'js/iao-alert.jquery.js'%}"></script>
        <!--<script src="{%static 'js/fm.scrollator.jquery.js'%}"></script>-->
      <!--<script src="{%static 'js/gmaps.js'%}"></script>-->
 <script src="{%static 'js/jssor.slider-23.1.0.mini.js'%}"></script>
        <script>
    jssor_slider1_init = function (containerId) {
        var options = { AutoPlay: 1 };
        var jssor_slider1 = new JssorSlider(containerId, options);
    };
</script>
    </head>

    <body>
    <nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand twop orangered" href="#">Bhaskar</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active" ><a href="#" class=" two">Home</a></li>
        <li class="dropdown"><a class=" two dropdown-toogle" data-toggle="dropdown" href="#">Menu<span class="Caret"></span></a>
        <ul class="dropdown-menu">
          <li>Indian Foods</li>
          <li>South Indian Foods</li>
          <li>Chinese Foods</li>
          <li>Continental</li>
          <li>Beverages</li>
          <li>Ice Creams</li>
        </ul>

        </li>
        <li><a class=" two" href="#">Contact Us</a></li>
        <li><a class=" two"  href="#">About Us</a></li>
      </ul>
    </div>

  </div>
</nav>
    <section>
        {%block imgs%}
       <div class="image">

      <img src="{%static 'images/after.jpg'%}" class="img-responsive" alt="" />

      <h2 class="text-center">Bhaskar</h2>

</div>

        {%endblock%}
    <div class="container-fluid foodsection">
        <h2 class="grey text-center">Menu</h2>
        {% block 'content' %}{% endblock  %}
    </div>
    <div class="container-fluid userreviews">
        <h2 class="grey text-center page-header">Share Your Experiences</h2>
        {%block userreviews%}{%endblock%}
        </div>
    </section>
<footer>
    <div class="footerx ">

        <div class="container-fluid">
        <div class="col-sm-4">
            <h4 class="page-header grey">Contact us</h4>
            <p class="grey"><strong>Address:</strong> 123 Downtown Avenue, Manhattan, New York, United States of America</p>
            <p class="grey"><strong>Phone:</strong>+917792037378</p>
            <p class="grey"><strong>Email:</strong>info@bhaskarrestro.com</p>
        </div>
        <div class="col-sm-4">
            <h4 class="grey page-header">Social Networks</h4>
            <p class="grey">We are on Facebook,Twitter,Instagram.<br>Follow us to know more.</p>
            <ul class="list-inline">
                <li class="text-center"><i class="fa fa-twitter grey"></i> </li>
                <li><i class="fa fa-facebook grey"></i> </li>
                <li><i class="fa fa-google-plus grey"></i> </li>


            </ul>

        </div>
        <div class="col-sm-4">
            <h4 class="page-header grey">About Us</h4>
            <p class="grey">Established in 2004,We are a small enthusiastic team of memberss.
            Our services are open 24x7x365.Feel Free to come and give us the
                opportunity to serve.
            </p>

        </div>
        </div>

        <h5 class="panel-heading text-center white">2017 Designed By &copy; <a href="www.techfly.com" class="white"><u>Techfly</u></a></h5>
        
        
    </div>
        </footer>
    </body>

</html>