{% extends 'fastfoods/base.html'%}
{%load staticfiles%}
{% load bootstrap3 %}
{%block 'content' %}
{% if productx %}
<ul class="nav nav-tabs">
{% for key,value in productx.items %}
<li class="{%if forloop.first%}active{%endif%}"><a data-toggle="tab" href="#{{key|cut:' '}}">{{key}}</a></li>
{%endfor%}

</ul>

<div class="tab-content">
    {% for key,value in productx.items %}
    <div id="{{key|cut:' '}}" class="row  tab-pane fade {%if forloop.first%}in active{%endif%}">

    {%for product in value%}
        <div class="col-sm-6 metaphore">
            <div class="col-sm-6">
                            <img src="{%static product.product_image%}" class="img-circle " width="200px" height="200px"/>


            </div>
            <div class="col-sm-6">
                        <h4 class="titlefood satisfy grey text-center">{{product.product_name|title}}</h4>
                <p class="grey text-center"><b>{{product.product_description|title}}</b></p>
                <p class="grey text-center"><b>{{product.product_price}}</b></p>


            </div>

            </div>
    {%endfor%}


    </div>



    {%endfor%}




</div>

{% endif %}

{% endblock %}
{%block userreviews%}
<div class="col-sm-6 formx">


    <div class="form-group">
     <input class="form-control" id="email" placeholder="Your Email Address" required/>
     </div>
    <div class="form-group">
     <input class="form-control" id="password" placeholder="Your Name" required/>
     </div>
     <div class="form-group">
     <textarea class="form-control" id="message" rows="5"></textarea>
     
     </div>
     <button class="btn btn-info btn-md" id="commentbtn">Submit</button>



</div>
<div class="col-sm-6 comments_section" id="comments_section">
    {%if comments%}
    {%for comment in comments%}
    <div class=" usermsg">
        <h4 class="page-heading grey text-center">{{comment.user_name}}</h4>
        <p class="grey text-center">{{comment.user_email}}</p>
        <p class="grey text-center">{{comment.user_message}}</p>



    </div>
    {%endfor%}
    {%endif%}


</div>



{%endblock%}